body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: #000;
}

section {
	height: 100vh;
	background: #000
}

section:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#f00),color-stop(#f00),color-stop(#0f0),color-stop(#0ff),color-stop(#ff0),to(#0ff));
	background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
	mix-blend-mode: color;
	pointer-events: none;
}

video {
	-o-object-fit: cover;
	   object-fit: cover;
}

h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 100%;
	font-family: sans-serif;
	font-size: 5em;
	letter-spacing: 0.2em;
	color: #fff;
	text-align: center;
}

h1 span {
	display: inline-block;
	-webkit-animation: animate 1s linear forwards;
	        animation: animate 1s linear forwards;
	opacity: 0;
}

@-webkit-keyframes animate {
	0% {
		opacity: 0;
		-webkit-transform: rotateY(90deg);
		        transform: rotateY(90deg);
		        -webkit-filter: blur(10px);
		                filter: blur(10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
		         -webkit-filter: blur(0px);
		                 filter: blur(0px);
	}
}

@keyframes animate {
	0% {
		opacity: 0;
		-webkit-transform: rotateY(90deg);
		        transform: rotateY(90deg);
		        -webkit-filter: blur(10px);
		                filter: blur(10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
		         -webkit-filter: blur(0px);
		                 filter: blur(0px);
	}
}

h1 span:nth-child(1) {
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}

h1 span:nth-child(2) {
	-webkit-animation-delay: 1.5s;
	        animation-delay: 1.5s;
}

h1 span:nth-child(3) {
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}

h1 span:nth-child(4) {
	-webkit-animation-delay: 2.5s;
	        animation-delay: 2.5s;
}

h1 span:nth-child(5) {
	-webkit-animation-delay: 3s;
	        animation-delay: 3s;
}

h1 span:nth-child(6) {
	-webkit-animation-delay: 3.5s;
	        animation-delay: 3.5s;
}

h1 span:nth-child(7) {
	-webkit-animation-delay: 4s;
	        animation-delay: 4s;
}
h1 span:nth-child(8) {
	-webkit-animation-delay: 4.5s;
	        animation-delay: 4.5s;
}
